@font-face {
  font-family: Koulen;
  src: url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  font-family: 'Koulen', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 24px;
  opacity: 0.75;
}

.nav-link:hover {
  color: #000000;
  font-size: medium;
}

span.navbar-text {
  display: flex;
  align-items: center;
  font-size: 24px;
}

.social-icon {
  display: flex;
  margin-left: 20px;
}

.social-icon a {
  display: inline-flex;
  margin-right: 20px;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}
.about p{
  padding-left: 20px;
}

.myPic {
  border-radius: 50%;
  height: 220px;
  width: auto;
}

.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.skill-header {
  margin-bottom: 1rem;
}

.skills-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}

.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}

.icon-card:hover {
  transform: scale(1.1);
}

@media (max-width: 992px) {
  div .social-icon {
    padding-top: 1rem;
  }
}