@font-face {
  font-family: Koulen;
  src: url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  font-family: 'Koulen', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}

span.navbar-text {
  display: flex;
  align-items: center;
}

.social-icon {
  display: flex;
  margin-left: 20px;
}

.social-icon a {
  display: inline-flex;
  margin-right: 20px;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}
.about p{
  padding-left: 20px;
}

.myPic {
  border-radius: 50%;
  height: 220px;
  width: auto;
}
